* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
  }
  
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow-x: hidden;
  }
  
  body {
    background: var(--primaryBackground);
    color: var(--primaryTextColor);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow-x: hidden;
  }
  
  body,
  input,
  button,
  table {
    font-size: var(--primaryTextSize);
    font-family: var(--primaryFont);
  }
  
  /* #root {
    margin: ;
    padding: ;
    max-width: ;
  } */
  
  button {
    cursor: pointer;
  }
  
  form {
    display: block;
  }
  
  input,
  textarea,
  button,
  select,
  option,
  img {
    outline: none !important;
    border: 1px solid silver;
    font-size: 12px;
    color: rgb(97, 97, 97);
  }
  
  p,
  span,
  small {
    font-size: var(--primaryTextSize);
    color: #707070;
  }
  
  img {
    border: none;
  }
  
  p,
  small,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* line-height: 20px; */
    color: #707070;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:active {
    text-decoration: none;
    color: inherit;
  }
  
  a:focus {
    text-decoration: none;
    color: inherit;
  }
  
  /* my default settings */
  