footer {
  display: flex;
  flex-direction: column;
}

footer section{
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    padding: 30px 0px;
    border-top: 1px solid silver;
}

footer section .company-bio{
    display: flex;
    flex-direction: column;
    width: 300px;
}

footer section .company-bio span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 80%;
    height: 100px;
    margin-bottom: 30px;
}

footer section .company-bio p{
    font-size: 11px;
    font-family: var(--primaryFonts);
}

footer section .shortcut{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

footer section .shortcut .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
}

footer section .shortcut .item h1{
    display: block;
    font-family: var(--primaryFonts);
    font: 13px;
    text-transform: capitalize;
    text-align: left;
    width: 100%;
}

footer section .shortcut .item ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer section .shortcut .item ul li{
    display: block;
    list-style: none;
    margin: 10px 0px;
    width:100%;
    text-align: left;
}

footer section .shortcut .item ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--primaryFonts);
    font-size: 12px;
}

footer section .shortcut .item:last-child ul li{
    text-align: center;
    
}

footer section .shortcut .item ul li .donate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 35px;
    width: 150px;
    border-radius: 30px;
    margin: auto;
    margin-top: -10px;
}

footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5%;
  height: 50px;
  border-top: 1px solid silver;
  font-family: var(--primaryFonts);
  font-size: 13px;
}

footer nav span i{
    margin: 10px;
}