.banner-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 0px;
    border-bottom-left-radius: 30px;
    height: 50vh;
}

.banner-cont small{
    margin-left: 40px;
    text-transform: uppercase;
    font-family: var(--primaryFonts);
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: bolder;
    color: orange;
}

.banner-cont h1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    font-family: var(--primaryFonts);
}

.banner-cont h1 span{
    font-size: 30px;
    width: 50%;
    text-transform: capitalize;
}

.banner-cont h1 a{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 13px;
    font-family: inherit;
    text-decoration: none;
    border-radius: 30px;
    border-top-left-radius: 0px;
    width: 200px;
    height: 40px;
    background-color: orange;
    color: white;
}

.banner-cont h1 a span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 11px;
    margin-right: 10px;
}